* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: white;
    overflow: hidden;
    background-color: rgb(77, 77, 77);
}

body {
    text-align: center;
    margin: 0;
    color: rgb(60, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.datePick {
    color: rgb(6, 95, 150);
}

table {
    width: 40%;
    margin: auto;
    font-size: 1.5em;
    border-collapse: collapse;
    visibility: hidden;
}

tr:nth-child(1) {
    background-color: rgba(62, 62, 62, 0.867);
    color: white;
}

tr:nth-child(even) {
    background-color: #dddd;
}

td.rowDel {
    background-color: white;
    width: 10px;
    visibility: hidden;
}

div.buttons {
    margin-top: 10px;
}

button {
    background-color: rgb(6, 95, 150);
    color: white;
    font-size: 15px;
    border-style: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(6, 95, 150);
    color: white;
    border: none;
    box-shadow: 5px 5px 10px rgb(192, 189, 189);
}

button:active {
    opacity: 0.5;
}

#btnEdit {
    position: absolute;
    left: 48%;
    visibility: hidden;
}

#btnDone {
    position: realtive;
    visibility: hidden;
}

#btnCancel {
    position: relative;
    visibility: hidden;
}
